a{text-decoration: none;}
ul{list-style: none;}

span.sep {
  color: DFDFDF;
  margin: 0px 12px;
}

body{margin: 0px;}

.container{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

.siteTopBar {
  height: 36px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 12px;
  line-height: 36px;
  color: #8c8c8c;
  background: #fafafa;
  position: relative;
}

.siteTopBar a{
    color: #8C8C8C;
}

.siteTopBar a:hover{
    color: #000;
}

.siteHeader {
    height: 135px;
    background-color: lightblue;    
}

.container {
    background-color: rgb(246, 246, 246);
}

.siteHeader {
    position: relative;
    padding-top: 25px;
}

.logo {
    float: left;
    margin-bottom: 15px;
    width: 70px;
    height: 70px;
}

.logo a{
    width: 70px;
    height: 70px;
    display: block;
    background-image: url("http://c1.mifile.cn/f/i/2014/cn/icon/site-logo.png");
}

.search {
    float: right;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 560px;
    height: 40px;
    background-color: #fff;
    position: relative;
}

.headerNav {
    position: relative;
    clear: both;
    height: 50px;
    background-color: #404144;
}

.btnCategoryList {
    display: block;
    padding: 7px 50px 7px 20px;
    font-size: 18px;
    line-height: 2;
    color: #FFF;
}

.navCategorySection {
    width: 248px;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #fff;
}

.openBuyInfo {
    position: absolute;
    top: 20px;
    right: 0px;
}

.slideShow {
    height: 420px;
    margin-left: 248px;
    background-color: ghostwhite;
    width: 990px;
}

.hdShow {
    margin-left: 248px;
    background-color: lightgray;
    height: 170px;
}



.starGoods {
    position: relative;
    float: left;
    height: 360px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: lightcoral;
}

.newGoods {
    position: relative;
    float: left;
    width: 100%;
    height: 981px;
    margin-bottom: 15px;
    background-color: darkseagreen;
}

.hotGoods {
    position: relative;
    float: left;
    height: 673px;
    width: 100%;
    margin-bottom: 15px;
    background-color: lightcyan;
}

.column1-3 {
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 1px solid red;
}
/* 布局结束 */

.topNav ul{
   padding: 0px; 
}

.topNav ul li{
    float: left;
    /* padding-right: 25px; */
}

.login ul {
    float: right;
    height: 36px;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.login ul li{
    float: left;
}
.search form {
    position: relative;
    width: 422px;
    height: 38px;
    border: 1px solid #DFDFDF;
}

.search input[type="search"] {
    padding: 9px 15px;
    width: 352px;
    height: 20px;
    border: 0px none;
}

.search input[type="submit"]
{
    width: 40px;
    height: 40px;
    1px solid #DFDFDF;
    position: absolute;
    top: -1px;
    right: -1px;
    background: #FFF none repeat scroll 0% 0%;
cursor: pointer;
}



.shoppingCart {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 126px;
    background-color: #FFDB3D;
    height: 38px;
    border: 1px solid #FFDB3D;
}
.shoppingCart a{
    display: block;
    line-height: 38px;
    font-size: 18px;
    text-align: center;
    
}

.navCategory {
    position: relative;
    float: left;
    width: 248px;
    height: 50px;
    background: #FF4A00 none repeat scroll 0% 0%;
}

.navCategoryContent {
      height: 43px;
      padding: 15px 10px 15px 20px;
      border-left: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    font-size: 14px;
}

.navCategorySection>ul {
  margin: 0;
  padding:0 ;      
}

.links {
  width: 215px;
  height: 21px;
  margin-top: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _zoom: 1;
}

.links a{
    color: #6d6d6d;
}

.navCategoryContent>a{
    color: #ff5611;
}
.navMainList {
    margin: 0;
    padding: 0;
}

.navMainList li{
    float: left;
    line-height: 50px;
    text-align: center;
}

.navMainList li a{
    color:#fff;
    padding: 15px;
}

.navMainList li a:hover{
    background-color: #000;
}