[Desktop Entry]
Encoding=UTF-8
Name=到 http://img4.duitang.com/uploads/item/201210/07/20121007113132_LuP3Q.jpeg 的链接
Type=Link
URL=http://img4.duitang.com/uploads/item/201210/07/20121007113132_LuP3Q.jpeg
Icon=image-jpeg
